/* td, th {
    border: 1px solid red;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}  */

table {
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
 }
 
 th, td {
    border: 2px double red;
 }
 
 td:hover {
    background-color: lightcoral;
    color: white;
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ed685;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #7f9b5a;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .login-user {
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
 }
 form{
    
        border: 5px inset #698af8;
       padding: 14px; 
       
       width: 30vmin;
       background-color: rgb(100, 223, 141);
       
 }

 input, homePlanets {
   
    margin-block-end: 10px;
    box-sizing: border-box;
    border: 2px solid #3421da;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    display: flex;
  }